
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/asset-mapper ###
/public/assets/
/assets/vendor/
/public/build/
###< symfony/asset-mapper ###

# Ignorer cache de Tailwind
/.cache/

# Ignorer les fichiers de configuration et de cache spécifiques à PhpStorm
/.idea/
