{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Accueil{% endblock %}

{% block body %}

<div class="example-wrapper bg-blue-500">
    <h1>Bienvenue
        {% if app.user %}
            {{ app.user.pseudo|capitalize }}
        {% else %}
            à vous
        {% endif %}
        !
    </h1>
</div>
{% endblock %}
