{% extends 'base.html.twig' %}

{% form_theme form 'bootstrap_5_layout.html.twig' %}

{% block title %}{{ parent() }} :: Edition{% endblock %}

{% block body %}
    <div >
        <div>
            {{ form(form) }}
        </div>
    </div>
{% endblock %}