:root {
    --font-title: 'TitleHalo', sans-serif;
    --font-subtitle: 'SousTitre', sans-serif;
    --color-text-light: #ffffff;
    --color-text-dark: #000000;
    --color-neon-blue: #00ffff;
    --color-neon-pink: #ff00ff;
    --bg-color-transparent: rgba(0, 0, 0, 0.6);
    --bg-color-glass: rgba(0, 0, 0, 0.6);
}

@font-face {
    font-family: 'TitleHalo';
    src: url('../fonts/pricedown.otf') format('truetype');
}

@font-face {
    font-family: 'SousTitre';
    src: url('../fonts/NeoNeon.otf') format('truetype');
}

@font-face {
    font-family: 'SubtitleGangWolfik';
    src: url('../fonts/Greatday.otf') format('truetype');
}

@font-face {
    font-family: 'Neon80s';
    src: url('../fonts/Neon.ttf') format('truetype');
}

@font-face {
    font-family: 'Quicksand';
    src: url('../fonts/Quicksand.otf') format('truetype');
}


.indexParagraph{
    margin-bottom: 60px;
    font-family: Quicksand, sans-serif;
}

.indexPres{
    font-size: 1.5em;

}


.navbar-nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    padding: 1rem;
    width: 100%;
}

.navbar-nav .nav-link {
    font-size: 1.2rem;
    padding: 0.5rem 0;
}

.navbar-toggler {
    display: block;
    position: fixed;
    top: 1rem;
    right: 1rem;
    z-index: 1001;
}

.auth-nav {
    position: absolute;
    top: 1rem;
    right: 2rem;
    display: flex;
    gap: 1rem;
    z-index: 1000;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navbar-brand.titleSite {
    font-family: var(--font-title), sans-serif;
    font-size: 6rem;
    margin-bottom: 20px;
    color: var(--color-text-light);
    text-shadow:
            0 0 5px var(--color-neon-blue),
            0 0 10px var(--color-neon-blue),
            0 0 15px var(--color-neon-blue),
            0 0 20px var(--color-neon-pink),
            0 0 30px var(--color-neon-pink),
            0 0 40px var(--color-neon-pink);
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding: 1rem;
}

.navbar-nav .nav-link {
    font-family: var(--font-subtitle);
    font-size: 1.9rem;
    color: var(--color-text-light);
    transition: color 0.3s ease, text-shadow 0.3s ease;
    text-shadow:
            0 0 5px var(--color-neon-blue),
            0 0 10px var(--color-neon-blue),
            0 0 15px var(--color-neon-blue),
            0 0 20px var(--color-neon-pink),
            0 0 30px var(--color-neon-pink),
            0 0 40px var(--color-neon-pink);
}

.navbar-nav .nav-link:hover {
    color: #f0f0f0 !important;
    text-shadow:
            0 0 10px var(--color-neon-blue),
            0 0 20px var(--color-neon-blue),
            0 0 30px var(--color-neon-pink),
            0 0 50px var(--color-neon-pink);
    transform: scale(1.05);
}

.navbar-toggler {
    display: none;
}

.background {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    width: 100%;
    justify-content: center;
}


body {
    background-size: cover;
    background-position: center;
    height: 100vh;
    z-index: -1
}



.bg-glass {
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); /* Compatibilité avec Safari */
    border-radius: 12px;
    padding: 1rem;
}

.table-container {
    max-height: 400px;
/*{# Activation du défilement vertical #}*/
    overflow-y: auto;
    position: relative;
}

.sticky-table {
    width: 100%;
    border-collapse: collapse;
}

.sticky-table thead th {
    position: sticky;
    top: 0;
    background-color: #f8f9fa;
    z-index: 1;
    border-bottom: 2px solid #dee2e6;
}

.sticky-table th,
.sticky-table td {
    padding: 8px;
    border: 1px solid #dee2e6;
}

.sticky-table tbody tr:hover {
    background-color: #f5f5f5;
}

.card {
    background-color: #121212; /* Fond noir */
    border: none;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(255, 0, 255, 0.3), 0 0 25px rgba(0, 255, 255, 0.3);
    max-width: 600px;
}

.card-body {
    color: white;
}

.card label, .card select, .card input, .card button {
    color: white;
}

.card h2 {
    color: var(--color-neon-blue);
    text-shadow: 0 0 10px var(--color-neon-blue), 0 0 20px var(--color-neon-blue);
}

/* Style par défaut */
.neon-input {
    background-color: #121212; /* Fond noir */
    color: white; /* Texte blanc */
    border: 1px solid var(--color-neon-pink); /* Bordure néon */
    transition: background-color 0.3s ease, color 0.3s ease; /* Transition pour la fluidité */
}

/* Style quand le champ est en focus */
.neon-input:focus {
    background-color: white; /* Fond blanc */
    color: black; /* Texte noir */
    border-color: var(--color-neon-blue); /* Bordure passe au bleu néon */
    outline: none; /* Retirer le contour bleu par défaut */
}

/* Placeholder pour le rendre également en blanc */
.neon-input::placeholder {
    color: rgba(255, 255, 255, 0.7); /* Placeholder en blanc semi-transparent */
}

footer {

    width: 100%;
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer h5 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

footer ul {
    list-style-type: none;
    padding-left: 0;
}

footer ul li {
    margin-bottom: 8px;
}

footer a {
    text-decoration: none;
    color: white;
}

footer a:hover {
    color: #ff5722;
}

.login-form{
    padding: 10px;

}

