/* Tablette */
@media (max-width: 1024px) {
    .navbar-brand.titleSite {
        font-size: 4rem;
    }

    .navbar-nav .nav-link {
        font-size: 1.5rem;
    }

    .auth-nav {
        top: 0.5rem;
        right: 1rem;
    }

    .auth-nav .nav-link {
        font-size: 0.9rem;
    }
}

/* Smartphone */
@media (max-width: 768px) {
    .background {
        height: 200px;
        min-height: unset;
    }

    .navbar-brand.titleSite {
        font-size: 3rem;
        margin: 1rem 0;
    }

    .auth-nav {
        position: static;
        width: 100%;
        justify-content: center;
        padding: 0.5rem;
        background-color: var(--bg-color-transparent);
        margin-bottom: 1rem;
    }

    .collapse:not(.show) {
        display: none;
    }

    .collapse.show {
        display: block;
        width: 100%;
    }

    .neon-box {
        padding: 0.5rem 1rem;
    }
}

/* Très petits écrans */
@media (max-width: 380px) {
    .navbar-brand.titleSite {
        font-size: 2.5rem;
    }

    .auth-nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
    }

    .nav-link {
        padding: 0.3rem 0;
    }
}

 /* google map */
@media (max-width: 768px) {
    #map {
        height: 300px;
    }
}